
.main-container{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  border: 1px solid blue;
}

.g17-list{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90vw;
  height: 90vh;
  border: 1px solid green;
  overflow: scroll;
}

//////////////////////////////////////////////////


.outer-student-container{
  width: 9em;
  height: 9em;
  perspective: 1000px;
}

.outer-student-container:hover .student-container{
  transform: rotateY(180deg);
}

.student-container{
  position: relative;
  display: inline-flex;
  margin: 1em;
  width: 9em;
  height: 9em;
   transition: transform 1s;
   transform-style: preserve-3d;

  .back{
    width: 9em;
    height: 9em;
    position: absolute;
    margin:1px;
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
}

  .front{
    width: 9em;
    height: 9em;
    position: absolute;
    margin:1px;
    -webkit-backface-visibility: hidden;
     backface-visibility: hidden;

  }


}





//rem inherits from the html root

//em inherits from its perant
